<countries></countries>

<ul class="category-list">
    <li
            class="category-item category--{{ genreName | genreClass }}"
            ng-show="movies.length != 0"
            ng-repeat="(genreName, movies) in genres"
            data-size="{{ movies.length / total }}"
            data-group-category="{{ total }}"
    >
        <div class="category-wrapper">
            <a href="/category/{{ genreName }}?country={{ filterCountry }}&date={{ filterRange }}" class="link-wrapper"></a>

            <div class="category-background background--{{ genreName | genreClass }}"></div>
            <span class="category-picto picto--{{ genreName | genreClass }}"></span>
            <span class="category-number">{{ movies.length / total | roundNumber }}%</span>
            <span class="category-name">{{ genreName }}</span>
        </div>
    </li>
</ul>

<audio src="/src/category/audio/beep.mp3"></audio>

<legends></legends>

<timeline></timeline>