.category-list {
    min-width: 90%;
    min-height: 80vh;
    transform: translate(-90px, -80px);
    margin: 0;
    padding: 0;
}

.category-item {
    position: absolute;
    list-style: none;

    opacity: 1;
    transition: all 200ms linear;
    transform-origin: 50% 50%;
}
main:not(.mainCategories) .category-item:after {
    content: "";
    position: relative;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    background-color: #FF3636;

    animation: blink 3000ms;
}

.category--SciFi {
    top: 82.55%;
    left: 45.79%;
}
.category--Action {
    top: 54.16%;
    left: 89.16%;
}
.category--Drama {
    top: 52.6%;
    left: 65.03%;
}
.category--Romance {
    top: 36.84%;
    left: 33.88%;
}
.category--Thriller {
    top: 76.56%;
    left: 92.76%;
}
.category--Comedy {
    top: 21.87%;
    left: 17.96%;
}
.category--War {
    top: 15.88%;
    left: 81.25%;
}
.category--Animation {
    top: 74.6%;
    left: 18.26%;
}
.category--Mystery {
    top: 47.78%;
    left: 18.06%;
}
.category--History {
    top: 51.3%;
    left: 49.8%;
}
.category--Sport {
    top: 74.3%;
    left: 59.12%;
}
.category--Horror {
    top: 26.95%;
    left: 73.33%;
}
.category--Documentary {
    top: 64.58%;
    left: 28.88%;
}
.category--Music {
    top: 60.9%;
    left: 9.76%;
}
.category--Western {
    top: 23.3%;
    left: 41.69%;
}
.category--Adult {
    top: 32.94%;
    left: 56.83%;
}
    .category-wrapper {
        position: relative;
        text-align: center;
    }
    .category-background {
        position: absolute;
        transform-origin: 50% 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: transform 200ms linear;
        transform: scale(1);
    }
    main:not(.mainCategories) .category-background {
        opacity: 0;
        transform: scale(.25);
    }
    .background--SciFi {
        background-image: url(/src/category/img/background/scifi_rond.png);
    }
    .background--Action {
        background-image: url(/src/category/img/background/aventure_rond.png);
    }
    .background--Drama {
        background-image: url(/src/category/img/background/drama_rond.png);
    }
    .background--Romance {
        background-image: url(/src/category/img/background/romance_rond.png);
    }
    .background--Thriller {
        background-image: url(/src/category/img/background/thriller_rond.png);
    }
    .background--Comedy {
        background-image: url(/src/category/img/background/comedy_rond.png);
    }
    .background--War {
        background-image: url(/src/category/img/background/war_rond.png);
    }
    .background--Animation {
        background-image: url(/src/category/img/background/animation_rond.png);
    }
    .background--Mystery {
        background-image: url(/src/category/img/background/mystery_rond.png);
    }
    .background--History {
        background-image: url(/src/category/img/background/history_rond.png);
    }
    .background--Sport {
        background-image: url(/src/category/img/background/sport_rond.png);
    }
    .background--Horror {
        background-image: url(/src/category/img/background/horror_rond.png);
    }
    .background--Documentary {
        background-image: url(/src/category/img/background/documentary_rond.png);
    }
    .background--Music {
        background-image: url(/src/category/img/background/music_rond.png);
    }
    .background--Western {
        background-image: url(/src/category/img/background/western_rond.png);
    }
    .background--Adult {
        background-image: url(/src/category/img/background/adult_rond.png);
    }
    .link-wrapper {
        z-index: 10;
    }
    .link-wrapper:hover ~ .category-background {
        animation-iteration-count: infinite;
        animation: 1000ms heartbeat ease;
    }
        .category-picto {
            position: absolute;
            top: calc(50% - 20px);
            left: calc(50% - 20px);
            width: 40px;
            height: 40px;
            background-repeat: no-repeat;
            background-size: contain;
            opacity: 1;
            transition: opacity 200ms linear;
        }
        main:not(.mainCategories) .category-picto {
            display: none;
        }
        .link-wrapper:hover ~ .category-picto {
            opacity: 0 !important;
        }
        .picto--SciFi {
            left: calc(50% - 14px);
            background-image: url(/src/category/img/scifi.svg);
        }
        .picto--Action {
            top: calc(50% - 10px);
            background-image: url(/src/category/img/aventure.svg);
        }
        .picto--Drama {
            left: calc(50% - 18px);
            background-image: url(/src/category/img/drama.svg);
        }
        .picto--Romance {
            top: calc(50% - 16px);
            background-image: url(/src/category/img/romance.svg);
        }
        .picto--Thriller {
            background-image: url(/src/category/img/thriller.svg);
        }
        .picto--Comedy {
            background-image: url(/src/category/img/comedy.svg);
        }
        .picto--War {
            top: calc(50% - 15px);
            background-image: url(/src/category/img/war.svg);
        }
        .picto--Animation {
            background-image: url(/src/category/img/cartoon.svg);
        }
        .picto--Mystery {
            top: calc(50% - 18px);
            left: calc(50% - 21px);
            background-image: url(/src/category/img/mystery.svg);
        }
        .picto--History {
            left: calc(50% - 18px);
            background-image: url(/src/category/img/history.svg);
        }
        .picto--Sport {
            background-image: url(/src/category/img/sport.svg);
        }
        .picto--Horror {
            background-image: url(/src/category/img/horor.svg);
        }
        .picto--Documentary {
            background-image: url(/src/category/img/documentary.svg);
        }
        .picto--Music {
            background-image: url(/src/category/img/music.svg);
        }
        .picto--Western {
            background-image: url(/src/category/img/western.svg);
        }
        .picto--Adult {
            background-image: url(/src/category/img/adult.svg);
        }

        .category-number {
            position: relative;
            display: block;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
            transition: opacity 200ms linear;
        }
        .link-wrapper:hover ~ .category-number {
            opacity: 1;
        }

        .category-name {
            position: absolute;
            left: 50%;
            bottom: -30px;
            min-width: 100px;
            transform: translate(-50%, -50%);
            font-weight: 300;
            text-transform: lowercase;
            opacity: .6;
            transition: opacity 200ms linear;
        }
        main:not(.mainCategories) .category-name {
            opacity: 0 !important;
        }
        .link-wrapper:hover ~ .category-name {
            opacity: 1;
        }


    .circle {
        order: 1;
        overflow: visible;
    }
        .circle,
        .circle > circle {
            transform-origin: 50%;
        }

/* Animations */

    /* Show and hide */
    .category-item.ng-hide-add {
        animation:0.5s hide;
    }
    .category-item.ng-hide-remove {
        animation:0.3s show;
    }

    @keyframes blink {
        0% { opacity: 0; }
        2% { opacity: 1; }
        5% { opacity: 0; }

        16% { opacity: 0; }
        20% { opacity: 1; }
        24% { opacity: 0; }

        36% { opacity: 0; }
        40% { opacity: 1; }
        44% { opacity: 0; }

        56% { opacity: 0; }
        60% { opacity: 1; }
        64% { opacity: 0; }

        76% { opacity: 0; }
        80% { opacity: 1; }
        84% { opacity: 0; }

        100% { opacity: 0; }
    }
    
    @keyframes heartbeat {
        0%  { transform: scale(1);   }
        14% { transform: scale(1.3); }
        28% { transform: scale(1);   }
        42% { transform: scale(1.3); }
        70% { transform: scale(1);   }
    }

    @keyframes show {
        0% {
            opacity:0;
            transform: scale(0.25);
        }
        70% {
            transform: scale(1.15);
        }
        100% {
            opacity:1;
            transform: scale(1);
        }
    }

    @keyframes hide {
        0% {
            opacity: 1;
            transform: scale(1);
        }
        30% {
            transform: scale(1.15);
        }
        100% {
            opacity: 0;
            transform: scale(0.25);
        }
    }

    /* Enter and leave  */
    .category-item.ng-enter {
        -webkit-transition: .5s ease-in-out all;
        transition: .5s ease-in-out all;
    }
    .category-item.ng-leave {
        -webkit-transition: .25s ease-in-out all;
        transition: .25s ease-in-out all;
    }
    .category-item.ng-leave {
        position: absolute;
    }
    .category-item.ng-enter,
    .category-item.ng-leave.ng-leave-active {
        opacity: 0;
    }
    .category-item.ng-enter-active, .category-item.ng-leave {
        opacity: 1;
    }
