<header class="movie-header">
    <a href="/" class="back-home"></a>

    <h1 class="movie-title">
        Paris is {{ category | phrasing }}
    </h1>

    <flag ng-if="filterCountry" flag="{{ filterCountry | countryClass }}"></flag>
</header>

<ul class="keyword-list">
    <li
            class="keyword-item"
            ng-repeat="(keyName, movies) in keywords track by $index"
            ng-show="movies.length != 0"
            data-movie="{{ total }}"
            data-size="{{ movies.length }}"
            data-to="{{ category | colorMin }}"
            data-from="{{ category | colorMax }}"
    >
        <span class="keyword-title">{{ keyName }}</span>
    </li>
</ul>

<timeline></timeline>