.back-home {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    background: url(/src/movie/img/icon-back.svg) no-repeat;
    background-position: center;
    background-size: 50%;
    border: 2px solid #4F4F5A;
    border-radius: 10px;
    margin-left: 42px;
    margin-right: 23px;
}

.movie-title {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-weight: 300;
    text-transform: uppercase;
}
.movie-title:after {
    content: "";
    position: absolute;
    width: 70px;
    height: 2px;
    background-color: #292937;
    bottom: -5px;
}
.movie-header {
    margin-bottom: 40px;
}
.movie-header .flag {
    display: block;
    margin-left: 110px;
    opacity: 1;
}

.keyword-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 35px;
    padding-bottom: 100px;
}
    .keyword-item {
        min-width: 240px;
        position: relative;
        margin: 0 8px;
    }

/* Movies list */
.movies {
    text-transform: uppercase;
    position: absolute;
    top: -10px;
    width: 350px;
    height: 100%;
    overflow: auto;
    right: -100%;
    background-color: #040414;
    transition: transform 400ms ease;
    min-width: 350px;
    margin-top: 10px;
}
.movies.isActive {
    position: fixed;
    border: 2px solid grey;
    border-radius: 5px 0 5px 0;
    transform: translateX(-96vw);
    z-index: 9;
}
/* Show and hide */
.movies-container {
    padding: 10px 20px;
}
    .movie-opener {
        position: fixed;
        top: 100px;
        right: -30px;
        transform: rotate(-90deg);
        padding: 5px 8px;
        background-color: #040414;
        border: 2px solid gray;
        border-radius: 5px 5px 0 0;
        border-bottom: none;
        cursor: pointer;
        transition: all 200ms linear;
    }
    .movie-opener > span {
        display: inline-block;
        vertical-align: middle;
    }
    .movie-opener > span:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 25px;
        height: 25px;
        background-image: url(/src/legends/img/arrow-down.svg);
        background-repeat: no-repeat;
        background-size: 15px 20px;
        background-position: 50% 10%;
        transition: background-image 150ms linear;
    }
    .movie-opener.isActive {
        transform: rotate(-90deg) translateY(-320px);
        z-index: 10;
    }
    .movie-opener.isActive  > span:after {
        background-image: url(/src/legends/img/icon-cross.svg);
    }

    .movie-list {
        list-style: none;
        padding-left: 0;

    }

@media (max-width: 1280px) {
    .keyword-list {
        font-size: 14px;
    }
}

@media (max-width: 1024px) {
    .keyword-list {
        font-size: 11px;
    }
}

@media (max-width: 768px) {
    .keyword-list {
        font-size: 9px;
    }
}

