<input
        type="range"
        value="0"
        min="{{ range.min }}"
        max="{{ range.max }}"
        step="10"
        ng-model="range.value"
        ng-change="changeRange()"
        class="timeline-range" />

<ul class="timeline-bars">
    <li class="timeline-bar" ng-repeat="year in range.timeline track by $index"></li>
</ul>

<ul class="timeline-years">
    <li class="timeline-year" ng-repeat="year in range.timeline track by $index" ng-class="{ isActive: range.rangeValue.indexOf(year) !== -1 }">
        <span>{{ year }}</span>
    </li>
</ul>

<span class="timeline-min">{{slider.min}}</span>
<span class="timeline-max">{{slider.max}}</span>