.timeline {
    position: fixed;
    bottom: 10px;
    left: 5%;
    right: 5%;
}
.timeline:before,
.timeline:after {
    position: absolute;
    top: 18%;
    transform: translateY(-50%);
    content: "";
    height: 0;
    border: 1px dashed #4F4F5A;
    z-index: -1;
}
.timeline:before {
    left:  calc(-10% - 20px);
    width: calc(10% + 20px);
}
.timeline:after {
    right: calc(-10% - 20px);
    width: calc(10% + 40px);
}
    .timeline-range {
        -webkit-appearance: none;
        width: calc(100% - 20px);
        height: 2px;
        background-color: #4F4F5A;
        position: relative;
        outline: none;
    }
    .timeline-range::-webkit-slider-thumb {
        position: relative;
        -webkit-appearance: none;
        height: 20px;
        background-color: #000;
        border: 2px solid #fff;
        border-radius: 6px;
        width: calc(100% / 11.75);
        cursor: pointer;
        z-index: 100;
    }

    /* Bars */
    .timeline-bars {
        padding-left: 2px;
        margin: 0;
        width: calc(100% - 20px);
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: -15px;
    }
        .timeline-bar {
            width: 3px;
            height: 20px;
            border-radius: 10px;
            background-color: #4F4F5A;
            z-index: -1;
        }

    .timeline-years {
        padding-left: 0;
        margin: 20px -20px;
        width: calc(100% + 20px);
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
        .timeline-year {
            position: relative;
            text-align: center;
            font-family: 'ITC Avant Garde Gothic BT', sans-serif;
            font-size: 13px;
            color: #75757E;
            transition: color 100ms linear;
        }
        .timeline-year.isActive {
            color: rgba(255, 255, 255, 1);
        }

    .timeline-min {

    }
    .timeline-max {
        float: right;
        right: 0;
        bottom: 0;
    }
