doctype html
html(lang="fr")
    head
        title Open data
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/dist/bundle.css")
        base(href="/")
    body(ng-app="open")
        header.main-header
            h1.header-title HOW DOES THE CINEMA SEE PARIS ?
            p.header-sub A CENTURY OF FILMS SHOT IN PARIS

        block content

        footer
            script(src="/bower_components/angular/angular.js")
            script(src="/bower_components/angular-ui-router/release/angular-ui-router.js")
            script(src="/bower_components/angular-resource/angular-resource.js")
            script(src="/bower_components/angular-animate/angular-animate.js")
            script(src="/bower_components/ngSlider/ng-Slider.js")
            script(src="/bower_components/d3/d3.min.js")
            script(src="/dist/bundle.js", defer)