html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic BT';
    src: url('/dist/fonts/avantgardeitcbybt-extralight-webfont.eot');
    src: url('/dist/fonts/avantgardeitcbybt-extralight-webfont.eot?#iefix') format('embedded-opentype'),
    url('/dist/fonts/avantgardeitcbybt-extralight-webfont.woff2') format('woff2'),
    url('/dist/fonts/avantgardeitcbybt-extralight-webfont.woff') format('woff'),
    url('/dist/fonts/avantgardeitcbybt-extralight-webfont.ttf') format('truetype'),
    url('/dist/fonts/avantgardeitcbybt-extralight-webfont.svg#itc_avant_garde_gothic_extrRg') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'ITC Avant Garde Gothic BT';
    src: url('/dist/fonts/avantgardeitcbybt-demi-webfont.eot');
    src: url('/dist/fonts/avantgardeitcbybt-demi-webfont.eot?#iefix') format('embedded-opentype'),
    url('/dist/fonts/avantgardeitcbybt-demi-webfont.woff2') format('woff2'),
    url('/dist/fonts/avantgardeitcbybt-demi-webfont.woff') format('woff'),
    url('/dist/fonts/avantgardeitcbybt-demi-webfont.ttf') format('truetype'),
    url('/dist/fonts/avantgardeitcbybt-demi-webfont.svg#itc_avant_garde_gothic_demiRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #040414;
    color: #fff;
    font-family: 'ITC Avant Garde Gothic BT', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

main[ui-view] {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: hidden;
}

main.mainKeywords {
    flex-direction: column;
}

.link-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}