.main-header {
    font-family: 'ITC Avant Garde Gothic BT', sans-serif;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 25px;
    line-height: .9;

}
    .header-title {
        position: relative;
        margin-top: 0;
        font-weight: 300;
        margin-bottom: 14px;
    }
    .header-title:after {
        content: "";
        position: relative;
        display: block;
        left: 50%;
        margin: 12px 0;
        transform: translateX(-50%);
        width: 280px;
        height: 2px;
        background-color: #292937;
    }
    .header-sub {
        color: #75757E;
        margin-top: 0;
        margin-bottom: 0;
    }