<aside class="countries" ng-class="{ isActive: countryOpen }">

    <div class="countries-container">
        <h2 class="countries-title">SEE PARIS AS :</h2>

        <ul class="countries-list">
            <li class="country-item" ng-repeat="country in countries" data-country="{{ country.name }}" ng-class="{ isActive: filterCountry === country.name }">
                <flag flag="{{ country.name | countryClass }}"></flag>
            </li>
        </ul>
    </div>

    <div class="country-opener" ng-click="countryOpen = !countryOpen">
        <span>Filter By country</span>
    </div>

</aside>