.countries {
    min-width: 9%;
    margin-left: 30px;
    position: relative;
    transform: translateX(-110px);
    transition: transform 400ms ease;
    z-index: 10;
}
.countries.isActive {
    transform: translateX(0);
}
    .countries-title {
        position: relative;
        font-family: 'ITC Avant Garde Gothic BT', sans-serif;
        font-size: 12px;
    }

.countries-title:after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 18px;
    height: 4px;
    background-color: #808080;
}
    .country-opener {
        text-transform: uppercase;
        position: absolute;
        width: 192px;
        top: 11%;
        transform: rotate(90deg) translate(0%, -60%);
        padding: 5px 8px;
        border: 2px solid gray;
        border-radius: 5px 5px 0 0;
        border-bottom: none;
        cursor: pointer;
        transition: all 200ms linear;
    }
    .country-opener > span {
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
        letter-spacing: 2px;
    }
    .country-opener > span:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 25px;
        height: 25px;
        background-image: url(/src/legends/img/arrow-down.svg);
        background-repeat: no-repeat;
        background-size: 15px 20px;
        background-position: 100% 10%;
        transition: background-image 150ms linear;
    }
    .isActive .country-opener > span:after {
        background-image: url(/src/legends/img/icon-cross.svg);
    }
    .isActive .country-opener {
        border: none;
    }

    .countries-list {
        list-style: none;
        padding-left: 30px;
    }

    .country-item {
        display: block;
        width: 46px;
        border-radius: 5px;
        border: 2px solid #999999;
        margin: 12px 0;
        cursor: pointer;
    }


/* Flags */
.flag {
    display: inline-block;
    width: 42px;
    height: 25px;
    margin-bottom: -4px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .4;
    transition: opacity 250ms ease;
}

.country-item.isActive .flag {
    opacity: 1;
}
.flag--France { }
.flag--USA { }
.flag--UK { }
.flag--Italy { }
.flag--Germany { }
.flag--Spain { }
.flag--Belgium { }
.flag--Canada { }
.flag--Switzerland { }
.flag--Netherlands { }