<aside class="legends" ng-class="{ isActive: legendOpen }">

    <div class="legend-opener" ng-click="legendOpen = !legendOpen">
        <span>Caption</span>
    </div>

    <div class="legend-container" ng-show="legendOpen">
        <h3 class="legend-title">Categories</h3>

        <ul class="legend-list">
            <li class="legend-item" ng-repeat="genre in genresNames track by $index" ng-if="genre !== 'News'">
                <i class="legend-bullet bullet--{{ genre | genreClass }}"></i>
                <span class="legend-name">Paris is {{ genre | phrasing }}</span>
            </li>
        </ul>

        <div class="legend-number">
            <h3 class="number-title">
                Number of films
            </h3>

            <ul class="number-list">
                <li class="number-item">
                    <i class="number number--small"></i>
                    <span class="number-name">a few</span>
                </li>
                <li class="number-item">
                    <i class="number number--medium"></i>
                    <span class="number-name">a lot</span>
                </li>
                <li class="number-item">
                    <i class="number number--big"></i>
                    <span class="number-name">waouw !</span>
                </li>
            </ul>
        </div>
    </div>

</aside>