.legends {
    text-transform: uppercase;
    position: relative;
    transform: translateX(calc(-88% + 250px));
    transition: transform 400ms ease;
    min-width: 350px;
    margin-top: 10px;
}
.legends.isActive {
    transform: translateX(-95%);
}
/* Show and hide */
.legend-container {
    background-color: #040414;
    border: 2px solid grey;
    border-radius: 5px;
    padding-left: 55px;
    padding-right: 70px;
}
.legend-container.ng-hide {
    position: absolute;
    right: -25%;
}
.legend-container.ng-show {
    animation: legend-show 200ms ease;
}
@keyframes legend-show {
    0% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(0%);
    }
}
    .legend-title {
        display: inline-block;
        margin-top: 36px;
        margin-bottom: 0;
        border-bottom: 2px solid grey;
    }

    .legend-opener {
        position: absolute;
        top: 45px;
        transform: rotate(-90deg) translate(0%, -75%);
        padding: 5px 8px;
        border: 2px solid gray;
        border-radius: 5px 5px 0 0;
        border-bottom: none;
        cursor: pointer;
        transition: all 200ms linear;
    }
    .legend-opener > span {
        display: inline-block;
        vertical-align: middle;
        letter-spacing: 2px;
        font-size: 13px;
    }
    .legend-opener > span:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 25px;
        height: 25px;
        background-image: url(/src/legends/img/arrow-down.svg);
        background-repeat: no-repeat;
        background-size: 15px 20px;
        background-position: 100% 10%;
        transition: background-image 150ms linear;
    }
    .isActive .legend-opener > span:after {
        background-image: url(/src/legends/img/icon-cross.svg);
    }
    .isActive .legend-opener {
        border: none;
        padding-top: 2px;
    }

    .legend-list {
        list-style: none;
        padding-left: 0;
    }
        .legend-item {
            position: relative;
            margin: 4px 0;
        }
            .legend-bullet {
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
                width: 10px;
                height: 10px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                border-radius: 50%;
            }
            .legend-name {
                display: inline-block;
                vertical-align: middle;
            }

/* Number */
.legend-number {
    text-transform: uppercase;
}
    .number-title {
        display: inline-block;
        margin: 10px 0;
        border-bottom: 2px solid grey;
    }
    .number-list {
        margin-top: 0;
        list-style: none;
        padding-left: 0;
    }
        .number-item {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
            .number {
                background-color: #fff;
                display: inline-block;
                vertical-align: middle;
                border-radius: 50%;
            }
            .number.number--small {
                width: 10px;
                height: 10px;
            }
            .number.number--medium {
                width: 14px;
                height: 14px;
            }
            .number.number--big {
                width: 21px;
                height: 21px;
            }
            .number-name {
                display: inline-block;
                vertical-align: middle;
                font-size: 12px;
            }

/* bullets */
.bullet--SciFi { background-image: url(/src/category/img/background/scifi_rond.png); }
.bullet--Action { background-image: url(/src/category/img/background/aventure_rond.png); }
.bullet--Drama { background-image: url(/src/category/img/background/drama_rond.png); }
.bullet--Romance { background-image: url(/src/category/img/background/romance_rond.png); }
.bullet--Thriller { background-image: url(/src/category/img/background/thriller_rond.png); }
.bullet--Comedy { background-image: url(/src/category/img/background/comedy_rond.png); }
.bullet--War { background-image: url(/src/category/img/background/war_rond.png); }
.bullet--Animation { background-image: url(/src/category/img/background/animation_rond.png); }
.bullet--Mystery { background-image: url(/src/category/img/background/mystery_rond.png); }
.bullet--History { background-image: url(/src/category/img/background/history_rond.png); }
.bullet--Sport { background-image: url(/src/category/img/background/sport_rond.png); }
.bullet--Horror { background-image: url(/src/category/img/background/horror_rond.png); }
.bullet--Documentary { background-image: url(/src/category/img/background/documentary_rond.png); }
.bullet--Music { background-image: url(/src/category/img/background/music_rond.png); }
.bullet--Western { background-image: url(/src/category/img/background/western_rond.png); }
.bullet--Adult { background-image: url(/src/category/img/background/adult_rond.png); }